{% include 'base.html' %}

<div class ="container d-flex justify-content-center align-items-center"  style="background-color: rgb(247, 222, 6); min-height: 100vh;">
    <div>
        <h1 class="text-center" > <b>SMART FASHION </b></h1>

        <div class="media">
            <div class="media-left">
              <br>
                <img class="media-object" src="{{url_for('static', filename='Picture-4.jpg')}}"  style="height: 500px; width: 500px;">
            </div>
            <div class="media-body">
              <h2 class="media-heading" style="color: rgb(3, 7, 3)">T-Shirts S3 dragon Model</h2><br>
              <h3> <u> <b>Product Description : </b></u></h3><br>
              <h4>
                <p>
                  Typography T-shirt Design. If you are looking for the Best T-shirt Designs you are in the right place. I’m waiting to work with you.<br>
                  Rate  : Rs.2100 <br>
                  Available trendds --> Amazon t shirts, Clothing, Custom t shirt, T-shirt design .<br>
                </p>
                <br>
              </h4>
            </div>
        </div>
        
        <div class="media">
            <div class="media-left">
                <img class="media-object" src="{{url_for('static', filename='Picture-8.jpg')}}" style="height: 500px; width: 500px;">
            </div>
            <div class="media-body">
              <h2 class="media-heading " style="color:rgb(3, 7, 3)" >Men's Shorts Era Model 3</h2><br>
              <h3><u><b>Product Description : </b></u></h3><br>
              <h4>
                <p>New Summer Men's Shorts Casual Harajuku Jogging Beach Sports Shorts Fashion Streetwear Hip-hop Cottoh Shorts Men Street Clothes.<br>
                   Rate  : Rs.1900 <br>
                   Available trendds --> Amazon B shorts, Custom shorts design, Crack shorts design .<br>
                   !!! So Hurry up and Place the Order :) Stay Safe! Thank You !!!<br>
                </p>
              </h4>
            </div>
          </div> 
    </div>
</div>    


{% include 'footer.html' %}